@{
    ViewBag.Title = "Index";
}
@model Rations4Animals_MVC.Models.Calculation
<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <title>World Of Rations</title>
</head>
<body>
    <img src="Images/banner.jpg" alt="banner" width="100%" height="150px" style="z-index:-1">
    <h1 style="position:absolute; top:25px; left:200px;color:#FFFFFF;background:#00CC00;padding:15px;border-radius:10px 10px 10px 10px;font-family:AR DELANEY;">World Of Rations</h1>

    <div id="resultpage">
        <br />
        <br />
        <h1 style="font-family:AR DELANEY;font-size:55px"><u>Ration Formulation Results</u></h1>
        <div class="css/container">

            <div class="row form-group">
                <div class="col-sm-6" >
                    <b>Feedstuff</b>
                </div>
                <div class="col-sm-6">
                    <b>Weight</b>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    <hr style="height:10px;background-color:#969A9F;">
                </div>
            </div>

            @foreach (Rations4Animals_MVC.Models.FeedStuff fs in Model.optimizer.ListFeedStuff)
            {

                <div class="row form-group">
                    <div class="col-sm-6">
                        @fs.Feedstuff
                    </div>

                    <div class="col-sm-6">
                        @fs.Weight
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-12">
                        <hr style="height:10px;background-color:#969A9F;">
                    </div>
                </div>
            }



        </div>


        <div class="css/container">

            <div class="row form-group">
                <div class="col-sm-3">
                    <b>Nutrient</b>
                </div>
                <div class="col-sm-3">
                    <b>Weight</b>
                </div>
                <div class="col-sm-3">
                    <b>Minimum</b>
                </div>
                <div class="col-sm-3">
                    <b>Maximum</b>
                </div>
            </div>

            <div class="row form-group">
                <div class="col-sm-12">
                    <hr style="height:10px;background-color:#969A9F;">
                </div>
            </div>

            <br />
            <br />
            <br />
            @foreach (string s in new string[] {"CP", "RUP", "CF", "EE", "ADF", "NDF", "eNDF", "TDNCattle", "TDNSheep", "DESheep", "MECattle", "MESheep", "NEmCattle", "NEgCattle", "NElCattle", "MEPoultry", "DEHorse", "DEPig", "MEPig", "Arg", "His", "Iso_L", "Leu", "Lys", "Met", "Cys", "Phe", "Tyr", "Thr", "Trp", "Val", "Gly", "Ser", "Ca", "Cl", "Mg", "P", "K", "Na", "S", "Co", "Cu", "I", "Fe", "Mn", "Se", "Zn", "VitA", "VitD", "VitE", "VitK", "Biotin", "Choline", "Folic", "Niacin", "Pantot", "VitB2", "VitB1", "VitB6", "VitB12" })
            {

                <div class="row form-group">
                    <div class="col-sm-3">
                       @s
                    </div>

                    <div class="col-sm-3">
                        @Model.optimizer.getConstraintValue(s)
                    </div>
                    <div class="col-sm-3">
                        @Model.optimizer.FormulaFeed.getValue(s + "_Min")
                    </div>

                    <div class="col-sm-3">
                        @Model.optimizer.FormulaFeed.getValue(s + "_Max")
                    </div>
                </div>

                <div class="row form-group">
                    <div class="col-sm-12">
                        <hr style="height:10px;background-color:#969A9F;">
                    </div>
                </div>
            }



        </div>

    </div>


</body>
</html>
